*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

header{
    background-color: cadetblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.nava a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
    font-size: 24px;
    font-weight: normal;
}

.icons button{
    padding: 5px;
    background-color:transparent; 
    border: transparent;
}

h2,p{
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    
}
.sidebar{
    position: fixed;
top:0;
right: -260px;
box-shadow: -2px 0 10px rgba(0,0,0,0.15);
height: 100vh;
width: 900px;
z-index: 1000;
transition: right 0.3s ease;
}
.sidebar.active{
    right:0;
}
a {
  text-decoration: none;
}

